{% extends 'BigElibreBundle:Default:index.html.twig' %}

{% block content %}
  {% if doc %}
    <div class="docTitle">
      <a href="{{ path('big_elibre_theme', {'theme_code': doc.theme.code,  'action' : 'view' }) }}">{{ doc.theme.title }}</a> / {{ attribute(doc, 'title') }}
    </div>

    {% if doc.pictureMimeType and doc.picture %}
      <div class="img-thumbnail">
        {#        {{ doc.pictureMimeType }}#}
        {#        {{ doc.picture }}#}
        <img src="data:{{ doc.pictureMimeType }};base64,{{ doc.pictureBase64 }}" />
      </div>
    {% endif %}

    <a class="download" href="{{ path('big_elibre_doc', {'doc_id': doc.id,  'action' : 'download' }) }}" title="{% trans %}doc.download.label{% endtrans %}">
      {% if doc.icon %} 
        <img src="{{ asset('bundles/bigelibre/images/icons/') }}{{ doc.icon }}" class="icon big"/>
      {% else %}
        <img src="{{ asset('bundles/bigelibre/images/down.png') }}" class="big"/>
      {% endif %}
    </a>

    {#    {% if is_granted('ROLE_ADMIN') %}
          <p>
            <b>{% trans %}doc.fullpath.label{% endtrans %}:</b>
          </p>
          <p>
            {{ docFullPathDir|raw }}
          </p>
          <p></p>
        {% endif %}
    #}
    <br/>
    <br/>
    <div>
      <a class="btn btn-primary btn-sm" href="{{ path('big_elibre_doc', {'doc_id': doc.id,  'action' : 'download' }) }}" title="{% trans %}doc.download.label{% endtrans %}">
        <span class="glyphicon glyphicon-save"></span> {% trans %}doc.download.label{% endtrans %}
      </a>
    </div>

    <div class="docAnnotation">
      {#<h3>Аннотация:</h3>#}
      <p>
        {{ attribute(doc, 'annotation')|escape('html')|replace({'\n': "<p>"})|raw }}
      </p>
    </div>

    {#  doc.getMimeType = {{ doc.getMimeType() }};#}
    {% if is_granted('ROLE_USER') %}

      {% if doc.getMimeType() starts with 'video' %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bigelibre/js/flowplayer/skin/minimalist.css') }}">
        <script type="text/javascript" src="{{ asset('bundles/bigelibre/js/flowplayer/flowplayer.min.js') }}"></script>
        <div class="flowplayer" data-adaptive-ratio="true">
          <video>
            <source type="{{ doc.getMimeType() }}" src="{{ path('big_elibre_doc', {'doc_id': doc.id,  'action' : 'download' }) }}"/>
          </video>
        </div>

        {#    <script type="text/javascript" src="{{ asset('bundles/bigelibre/js/flowplayer-flash/flowplayer-3.2.13.min.js') }}"></script>
            <a  href="{{ path('big_elibre_doc', {'doc_id': doc.id,  'action' : 'download' }) }}"
              style="display:block;width:100%;height:330px"  
              id="player"> 
            </a> 
            <script>
              flowplayer("player", "{{ asset('bundles/bigelibre/js/flowplayer-flash/flowplayer-3.2.18.swf') }}");
            </script>
        #}    
        {#    <p>
              {{ attribute(doc, 'annotation')|escape('html')|replace({'\n': "<p>"})|raw }}
            </p>#}
        {#      </div>#}

      {% endif %}
    {% endif %}
  {% endif %}
{% endblock %}
