<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% trans_default_domain "messages" %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    {#    <link href="{{ asset('bundles/bigelibre/css/reset.css') }}" rel="stylesheet" />#}
    <link href="{{ asset('bundles/bigelibre/css/elibre/jquery-ui-1.10.4.custom.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/bigelibre/css/main.css') }}" rel="stylesheet" />
    <script src="{{ asset('bundles/bigelibre/js/jquery-1.9.1.js') }}"></script>
    <script src="{{ asset('bundles/bigelibre/js/jquery-ui-1.10.3.custom.min.js') }}"></script>
    <script src="{{ asset('bundles/bigelibre/js/jquery.custombox.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/bigelibre/js/func.js') }}"></script>
    <title>
      {{ "elibre.label" |trans }} | Николаевский центр подготовки плавсостава
    </title>
  </head>
  <body>

    <div id="wrapper" class="leftPageBG">
      <div class="rightPageBG">
        {% block header %}
          <div id="header">
            <div id="headerTop">
              <div id="headerTitle">
                <a id="titlePart1" href="{{ path('big_elibre_page') }}">{{ "elibre.label.part1" | trans }}</a>
                <a id="titlePart2" href="{{ path('big_elibre_page') }}">{{ "elibre.label.part2" | trans }}</a>
              </div>
              <div id="headerLinks">
                {#                <img class="corner" src="{{ asset('bundles/bigelibre/images/links_corner.png') }}"/>#}
                <a href="{{ path('big_elibre_page') }}">{% trans %}main_page.label{% endtrans %}</a> | <a href="{{ path('fos_user_security_login') }}">{% trans %}login.label{% endtrans %}</a> | <a href="{{ path('big_elibre_search') }}">{% trans %}search.label{% endtrans %}</a> | <a href="{{ path('big_elibre_page', {'page': 'contacts'}) }}">{% trans %}contacts.label{% endtrans %}</a>  | <a href="{{ path('big_elibre_new_docs') }}" title="{% trans %}new_docs.descr{% endtrans %}">{% trans %}new_docs.label{% endtrans %}</a>
                {% if is_granted('ROLE_USER') %}
                  | <a href="{{ path('big_elibre_history') }}">{% trans %}history.label{% endtrans %}</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                  | <a href="{{ path('big_elibre_admin') }}">{% trans %}admin_page.label{% endtrans %}</a>
                {% endif %}
              </div>
              <div id="langLinks">
                <a href="{{ path('big_elibre_page', {'_locale': 'ru' }) }}"><img src="{{ asset('bundles/bigelibre/images/flags/16/ru.png') }}" title="{% trans %}lang.ru{% endtrans %}"/></a>
                <a href="{{ path('big_elibre_page', {'_locale': 'uk' }) }}"><img src="{{ asset('bundles/bigelibre/images/flags/16/ua.png') }}" title="{% trans %}lang.uk{% endtrans %}"/></a>
                <a href="{{ path('big_elibre_page', {'_locale': 'en' }) }}"><img src="{{ asset('bundles/bigelibre/images/flags/16/us.png') }}" title="{% trans %}lang.en{% endtrans %}"/></a>
              </div>
            </div>

            {#            <div id="headerMiddle">#}
            {#              <div id="headerColorFiller">
                            <div class="color1"></div>
                            <div class="color2"></div>
                            <div class="color3"></div>
                            <div class="color4"></div>
                          </div>
            #}              
            {#              <div class="headerImage">#}
            {#                <img class="headerImage" src="{{ asset('bundles/bigelibre/images/header_new.png') }}"/>#}
            {#              </div>#}
            {#            </div>#}
          </div><!-- #header-->
        {% endblock %}

        <div id="middle">

          <div id="container">
            <div id="content">
              {% block content %} 
                {% if is_granted('ROLE_ADMIN') %}
                  <div class="toolBox">
{#                    <div >#}
                      <a class="editBtn" href="{{ path('big_elibre_page', {'page': page, 'action': 'edit'}) }}" alt="{% trans %}page.edit.descr{% endtrans %}" title="{% trans %}page.edit.descr{% endtrans %}">
                        <img src="{{ asset('bundles/bigelibre/images/admin/edit.png') }}"/> {% trans %}page.edit.label{% endtrans %}
                      </a>
                      
{#                    </div>#}
                  </div>
                {% endif %}

                {{ content|raw }}
              {% endblock %}
            </div><!-- #content-->
          </div><!-- #container-->

          {% block navigation %}
            <script>
              $(function () {
                $(document).tooltip({
                  content: function () {
                    var element = $(this);
                    /*alert(nl2br(element.attr('title')));*/
                    //if (element.hasClass(''))
                    return '<div class="tooltip">' + element.attr('title') + '</div>';
                  }
                });

                var ind = $("#menuSidebar > h3").index($("#menuSidebar > h3.active"));
                //alert
                $("#menuSidebar").accordion(
                        {collapsible: true,
                          active: (ind >= 0) ? ind : false,
                          heightStyle: "content",
                          /*header: "> li > :first-child, > :not(li):even"*/
                          header: "> h3"
                        });
                //if (ind >= 0) {
                //  $("#menuSidebar").accordion("option", "active", ind);
                //}
                var plainLinks = $("#menuSidebar > a");
                plainLinks.addClass("ui-accordion-header ui-state-default ui-corner-all");
                plainLinks.hover(function () {
                  $(this).addClass("ui-state-hover");
                }, function () {
                  $(this).removeClass("ui-state-hover");
                });
                //alert(ind);

              {#              $('#wrapper').height(100);#}
{#                  $('#wrapper > div').height($('#wrapper').height());#}

                });
            </script>

            <div class="sidebar" id="menuSidebar">
              {% include "BigElibreBundle:Default:nav_menu.html.twig" with {'menuThemes': menuThemes, 'activeThemeRoot': activeThemeRoot, 'activeThemeRoot2': activeThemeRoot2} only %}
            </div>

          {% endblock %}

          {% block news %}

          {% endblock %}

        </div><!-- #middle-->

      </div>
    </div><!-- #wrapper -->

    {% block footer %}
      <div id="footer">
        <div id="footerLinks">
          &copy;2013 Николаевский центр подготовки плавсостава<span id="footerSeparator"></span> 
          {#<a href="{{ path('big_elibre_page') }}">Электронная библиотека</a> | Вход | Поиск | Контакты#}
          <a href="{{ path('big_elibre_page') }}">{% trans %}main_page.label{% endtrans %}</a> | <a href="{{ path('fos_user_security_login') }}">{% trans %}login.label{% endtrans %}</a> | <a href="{{ path('big_elibre_search') }}">{% trans %}search.label{% endtrans %}</a> | <a href="{{ path('big_elibre_page', {'page': 'contacts'}) }}">{% trans %}contacts.label{% endtrans %}</a>  | <a href="{{ path('big_elibre_new_docs') }}" title="{% trans %}new_docs.descr{% endtrans %}">{% trans %}new_docs.label{% endtrans %}</a>
          {% if is_granted('ROLE_USER') %}
            | <a href="{{ path('big_elibre_history') }}">{% trans %}history.label{% endtrans %}</a>
          {% endif %}
          {% if is_granted('ROLE_ADMIN') %}
            | <a href="{{ path('big_elibre_admin') }}">{% trans %}admin_page.label{% endtrans %}</a>
          {% endif %}

        </div>

      </div><!-- #footer -->
    {% endblock %}
  </body>
</html>