{% extends 'BigElibreBundle:Default:index.html.twig' %}

{% block content %}

  <br>
  <center>
    <div>
      <form class="form-inline">
        <div class="input-group">
          <input type="text" name="needle" value="{{ needle }}" class="form-control border-info" placeholder="{% trans %}btn.search{% endtrans %}..." />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-info" title="{% trans %}btn.search{% endtrans %}">&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;</button>
          </span>
        </div>
      </form>
    </div>
  </center>
  <br>
  <hr>

  {% block search_results %}
    {% if results %}
      <ul class="docList">
        {% for doc in results %}
          <li>
            <a href="{{ path('big_elibre_doc', {'doc_id': doc.id,  'action' : 'view' }) }}" title="{{ attribute(doc, 'title') }}{% if doc.annotation %}<p>{% trans %}doc.annotation.label{% endtrans %}: {{ attribute(doc, 'annotation') }}</p>{% endif %}">
              {{ attribute(doc, 'title') }}
            </a>
            <a class="download" href="{{ path('big_elibre_doc', {'doc_id': doc.id,  'action' : 'download' }) }}" title="{% trans %}doc.download.label{% endtrans %}"><img src="{{ asset('bundles/bigelibre/images/icons/') }}{{ doc.icon }}"></a>
          </li>        
        {%endfor%}
      </ul>
    {%endif%}
  {% endblock %}  

{% endblock %}
