{% extends 'BigElibreBundle:Default:index.html.twig' %}

{% block content %}
  {% if is_granted('ROLE_ADMIN') %}
    {#<link href="{{ asset('bundles/bigelibre/css/reset.css') }}" rel="stylesheet" />#}
    <link href="{{ asset('bundles/bigelibre/css/fm.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/bigelibre/css/uploadfile.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/bigelibre/js/jquery.uploadfile.min.js') }}"></script>
    <script src="{{ asset('bundles/bigelibre/js/admin/docs.js') }}"></script>
    <script src="{{ asset('bundles/bigelibre/js/admin/fm.js') }}"></script>

    <div class="toolBox">
      <a class="orderBtn btn btn-sm btn-warning" href="{{ path('big_elibre_admin', {'mode': 'themes',  'action' : 'view' } ) }}" id="editMenuOrder" title="{% trans %}theme.order.descr{% endtrans %}">
        <span class="glyphicon glyphicon-random"></span> {% trans %}theme.order.label{% endtrans %}
      </a>
      {#      <div class="addDocBtn">#}
      {#    <a href="{{ path('big_elibre_admin', {'mode': 'docs', 'action': 'add', 'theme': selectedTheme.code}) }}" alt="{% trans from "messages" %}Add document to this theme{% endtrans %}" title="{% trans from "messages" %}Add document to this theme{% endtrans %}">#}
      {#      <a class="addDocBtn btn btn-sm btn-success" href="{{ path('big_elibre_admin', {'mode': 'docs', 'action': 'add', 'theme': selectedTheme.code}) }}" title="{% trans %}theme.add.descr{% endtrans %}">
              <span class="glyphicon glyphicon-plus"></span> {% trans %}theme.add.label{% endtrans %}
            </a>#}

      <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#editModal" href="{{ path('big_elibre_admin', {'mode': 'docs', 'action': 'add', 'theme': selectedTheme.code}) }}" title="{% trans %}theme.add.descr{% endtrans %}">
        <span class="glyphicon glyphicon-plus"></span> {% trans %}theme.add.label{% endtrans %}
      </a>

      <!-- Modal -->
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- Modal -->
      <div class="modal fade" id="fmModal" tabindex="-1" role="dialog" aria-labelledby="fmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <script>
        $(function () {

          var deleteDocDlgName = "#delete-confirm";

          $.widget("custom.confirmDialog", $.ui.dialog, {
            open: function (docID) {
              //for (var i in docID) {
              //alert(i + '=' + docID[i]);
              //}
              this.option("docID", docID.getAttribute('href'));
              // Invoke the parent widget's open().
              return this._super();
            }
          });

          $(deleteDocDlgName).confirmDialog({
            resizable: false,
            width: 600,
            height: 240,
            modal: true,
            autoOpen: false,
            //docID: -1,
            buttons: {
              "{% trans %}doc.delete.dlg.delete_all{% endtrans %}": function () {
                var url = Routing.generate('big_elibre_admin', {'mode': 'docs', 'action': 'del', 'doc': $(this).confirmDialog("option", "docID")});
                window.location.href = url;
                $(this).confirmDialog("close");
              },
              "{% trans %}doc.delete.dlg.delete_dbonly{% endtrans %}": function () {
                var url = Routing.generate('big_elibre_admin', {'mode': 'docs', 'action': 'del', 'doc': $(this).confirmDialog("option", "docID"), 'leave': 1});
                window.location.href = url;
                $(this).confirmDialog("close");
              },
              "{% trans %}btn.cancel{% endtrans %}": function () {
                $(this).confirmDialog("close");
              }
            }
          });

          $('a.delete').on('click', function (e) {
            e.preventDefault();
            $(deleteDocDlgName).confirmDialog('open', this);

          });
        {#
                    $("a[data-target=#editModal]").click(function (e) {
                      e.preventDefault();
                      var target = 'http://172.18.1.12:8080/app_dev.php/admin/docs/add?theme=code3';

                      // load the url and show modal on success
                      $("#editModal .modal-content").load(target, function () {
                        $('#editModal').modal("show");
                      });
                    });#}
          $(document).on('hidden.bs.modal', function (e) {
            $(e.target).removeData('bs.modal').find(".modal-content").html('');
          });
        });
      </script>
      <link rel="stylesheet" href="{{ asset('bundles/bigelibre/css/jquery.custombox.css') }}"/>

    </div>
  {% endif %}

  <h3 class="themeTitle">
    {% trans %}theme.label{% endtrans %}: {{ selectedTheme.getTitle() }}
  </h3>



  <ul class="themesList">
    {% for cur_theme in subthemes %}
      <li>
        <a href="{{ path('big_elibre_theme', {'theme_code': cur_theme.code,  'action' : 'view' }) }}" >
          <img src="{{ asset('bundles/bigelibre/images/icons/folder3.png') }}" class="icon"> {{ cur_theme.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <ul class="docList">
    {% for doc in documents %}
      <li><a href="{{ path('big_elibre_doc', {'doc_id': doc.id,  'action' : 'view' }) }}" title="{{ attribute(doc, 'title') }}{% if doc.annotation %}<p>{% trans %}doc.annotation.label{% endtrans %}: {{ attribute(doc, 'annotation') }}</p>{% endif %}">
          {# {% if doc.icon %}
                                  <img src="{{ asset('bundles/bigelibre/images/icons/') }}{{ doc.icon }}" class="icon">
          {% endif %} #}
          {{ attribute(doc, 'title') }}
        </a>
        <a class="download" href="{{ path('big_elibre_doc', {'doc_id': doc.id,  'action' : 'download' }) }}" title="{% trans %}doc.download.label{% endtrans %}"><img src="{{ asset('bundles/bigelibre/images/icons/') }}{{ doc.icon }}"></a>
          {% if is_granted('ROLE_ADMIN') %}
          <a class="edit text-warning" data-toggle="modal" data-target="#editModal" href="{{ path('big_elibre_admin', {'mode': 'docs', 'action': 'edit', 'theme': selectedTheme.code, 'doc': doc.id}) }}" title="{% trans %}theme.edit.descr{% endtrans %}">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a class="delete text-danger" href="{{ doc.id }}" title="{% trans %}doc.delete.label{% endtrans %}">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        {% endif %}
      </li>
    {% else %}
      {% trans %}theme.nodocs.label{% endtrans %}
    {% endfor %}
  </ul>

  {% if is_granted('ROLE_ADMIN') %}
    <div id="delete-confirm" title="{% trans %}doc.delete.label{% endtrans %}">
      <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><p>{% trans %}doc.delete.dlg.descr{% endtrans %}</p>
    </div>
  {% endif %}


{% endblock %}
